{% if content %}
  <div{{ attributes }}>
    {% if content.content %}
      <div {{ region_attributes.content.addClass('layout__region', 'layout__region--content', 'row') }}>
        {{ content.content }}
      </div>
    {% endif %}
  </div>
{% endif %}